/* Fonts and variables */ 


@font-face {
  font-family: 'Compagnon Light';
  font-style: normal;
  font-weight: normal;
  src: local('Compagnon Light'), url('Compagnon-Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Compagnon Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Compagnon Roman'), url('Compagnon-Roman.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Compagnon Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Compagnon Light Italic'), url('Compagnon-LightItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Compagnon Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Compagnon Medium'), url('Compagnon-Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Compagnon Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Compagnon Bold'), url('Compagnon-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Director';
    font-style: normal;
    font-weight: normal;
    src: local('Director Regular'), url('director-regular.woff') format('woff');
    }

    @font-face {
      font-family: 'Director';
      font-style: normal;
      font-weight:bold;
      src: local('Director Bold'), url('director-bold.woff') format('woff');
      }

      
      @font-face {
        font-family: 'Director';
        font-style: normal;
        font-weight: lighter;
        src: local('Director Light'), url('director-light.woff') format('woff');
        }
    


/* Général */

:root {
  font-family: 'Director';

}

body {
  width: 100vw;
  height: 100vh;
}
/* Header */

header {
  width: 75vw;
  margin-left: 20vw;
  text-align: center;
}
header img {
  height: 45vh;
  margin: auto;
  margin: 0 auto;
  padding:0px;
}

#uppernav {
  font-family: 'Compagnon Roman';
  color: black;
  text-align: center;
}

#uppernav li {
  display: inline-flex;
  padding: 10px;

}

#uppernav li::before {
  content: '✦\0000A0';
}

#uppernav a:visited {
  color: black;
}


#uppernav li:hover {

transform: translateY(-3px);}
/* Navigation */

#sidenav {

  width: 20vw;
  border: solid red 1px;
  font-size: 13pt;
  position: fixed;
  top : 0vh;
  left: 0vh;
  bottom: 0vh;
  margin: 0;
  background-image: url(https://media.istockphoto.com/id/1256312676/vector/grunge-line-vector-seamless-grid-pattern-background-hand-drawn-brush-stroke-style-linear.jpg?s=1024x1024&w=is&k=20&c=9vpzPCNP7kMLHZ5ztA15bRCQHrEyhcUf4TemxrXj2Xo=) ;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position:0vw 80vh;
  overflow-y: scroll;
  padding-bottom: 20vh;
}


/* Liste de posts */

.post-by-title h2 {
  font-family: 'Compagnon Light Italic';
  font-size: 20pt;
  margin-bottom: 1em;
  text-decoration: underline;
}



.post-by-title {
  margin: auto;
  width: 15vw;

}

.post-by-title  a {
  display: list-item;
  list-style-position: inside;
  list-style-type: "✦ ";
  color: black;
  font-size: 11pt;
  margin-bottom: 1em;
}

.post-by-title  a:hover {
  color: black;
  filter:drop-shadow(1px 1px 1px black)

}

.post-by-title  a:visited {
  color: black;
}


/*subnav*/

#subnav {
  width: 60vw;
  margin-left: 30vw;
  margin-right: 10vw;
  padding: 0;
  border-top: solid black 3px;
  padding-top: 6vh;
  margin-top: 6vh;

  font-family: 'Compagnon Roman';
  text-align: center;


}


 #subnav li {
  margin-right: 1em;
  display: inline;


 }


#subnav a {
  color: black;
}



#subnav a:hover {
  color: black;
  filter:drop-shadow(2px 2px 2px black)

}

#subnav a:visited {
  color: black;
}

/* Content*/

#content {
  width: 55vw;
  margin-left: 32.5vw;
  margin-right: 12.5vw;
  padding: 0;

}

#content p {
  font-size: 15pt;
}

ul#categories {
  padding-left: 0;
}

#categories li {
  display: inline;
  font-family: 'Compagnon Roman';  
}

#categories li::after {
  content: ' ';
} 

#categories a {
  color: black;
}

#categories a:hover {
  color: black;
  filter:drop-shadow(2px 2px 2px black)

}

#categories a:visited {
  color: black;
}


article img {
  display: inline-block;
  height: 40vh;
max-width: 40vw;
object-fit: contain;
margin: 0.5em;
}
article img:hover {
  transform: scale(180%);
}

article img:hover {
  filter:none;
}

/* article p, h2, h3, h4 {
  padding-left: 10vw;
} */
h1 {
font-family: 'Compagnon Medium';
font-style: normal;
font-size: 20pt;
padding-left: 9px;
padding-right: 9px;

background-color: black;
color: white;
width: fit-content;
}


/*Categories*/

h1#category-title {
  color: black;
  background-color: white;
  font-family: 'Compagnon Light Italic';
  text-decoration: underline;
  padding: 0;
}